h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 36px;
}
.nav{
    display: flex;
    background-color: #333333;
    align-items: center;
    justify-content:space-between;
    padding: 0px 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav-title{
    align-items: left;  
}

.nav-links{
    display: flex;
    /* display: inline-block; */
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 0px 10px;
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: lightgray;
}

a:hover{
    color: white;
    text-decoration: none;
}

.btn{
    height: 25px;
    width: 75px;
    background-color: #34A2B8;
    color: white;
    border: none;
    box-shadow: 5px 4px black;

}